<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.bestsolution.efxclipse.runtime.di.DIApplication">
            <parameter
                  name="mainClass"
                  value="at.bestsolution.efxclipse.tooling.modeleditor.app.Application">
            </parameter>
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
      		name="Bla"
            application="at.bestsolution.efxclipse.tooling.modeleditor.app.application">
         <property
         		value="Bla"
               name="appName">
         </property>
      </product>
   </extension>

</plugin>
