hallodrio {
	-fx-background-color: rgb(1,1,1);
	
	-roflkopter: a;
	-martin-a: lasdkjf askl;
	-m: url("http://nix");
	
}

Hallo.nix {
	-martin-a: x;
	-roflkopter: asdf;
	-fx-background: red;
	-fx-border-width: 4px 4px 1px 2px, 5px 4px 3px 1px;
	/* btest [<l> | <l> <l> <l> <l>] [, [<l> | <l> <l> <l> <l> ] ]*; */
	
	
}